{% extends 'base.html' %}
{% block style %}

    .card {
    padding: 30px 40px;
    margin: auto;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }


    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400
    }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

    .btn-block:hover {
        color: #fff !important
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

{% endblock style %}

{% block content %}


    <div class="text-center py-5 mb-4 text-white" style="background-color: rgb(117, 16, 17);">
      <div class="container" style="background-color: rgb(117, 16, 17);">
        <h3>Book an appointment</h3>
        <p class="text-white">Use the following form to contact us and request an appointment.</p>
      </div>
     </div>
     <div class="container px-1 py-5 mx-auto">
        <div class="card">
                    
                    <form class="form-card" method="POST" action= "{% url 'appointment' %}">
                    {% csrf_token %}   
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">First name</label> 
                                <input required type="text" id="fname" name="fname" value="{{user.first_name}}" onblur="validate(1)" readonly> 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Last name</label> 
                                <input required type="text" id="lname" name="lname" value="{{user.last_name}}" onblur="validate(2)" readonly> 
                            </div>

                        </div>

                        <div class="row justify-content-between text-left">

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Email</label> 
                                <input type="text" id="email" name="email" value="{{user.email}}" onblur="validate(3)" readonly> 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                             <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> 
                              <input type="text" id="mob" name="mobile" placeholder="" onblur="validate(4)"> 
                            </div>

                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3" style = " padding-bottom: 5px;">Select Gender<span class="text-danger"> *</span></label>  
                                <select class="form-control px-2" name="gender" id="gen" onblur="validate(5)">
                                    <option value="" disabled selected>Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3" style = " padding-bottom: 5px;">Select Service<span class="text-danger"> *</span></label> 
                                <select class="form-control px-2"  name="services" id="ser" onblur="validate(6)">
                                    <option value="" disabled selected>Services Offered</option>
                                    <option value="Counseling">Counseling</option>
                                    <option value="Psychological Testing">Psychological Testing</option>
                                    <option value="Career Guidance, Graduate Placement and Follow-up">Career Guidance, Graduate Placement and Follow-up</option>
                                    <option value="Human Development Services">Human Development Services</option>
                                    <option value="Peer Facilitating Program">Peer Facilitating Program</option>
                                </select>
                            </div>
                        </div>


                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Side Notes<span class="text-danger"> *</span></label> 
                                <textarea type="text" id="ans" name="request" placeholder="" onblur="validate(7)"></textarea> 
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Preferred Date of Appointment<span class="text-danger"> *</span></label>
                                <input type="date" name="date" class="form-control-label px-3" 
                                    placeholder="dd-mm-yyyy" value=""
                                    min="1997-01-01" max="2030-12-31">
                                <input hidden="true" name="appointment-id" value="{{app.id}}">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-sm-6"> 
                                <button type="submit" class="btn-block" style="color: whitesmoke; background-color: rgb(117, 16, 17);">SEND</button>
                                <a href="{% url 'home' %}" class="btn active" style="color: whitesmoke; background-color: rgb(117, 16, 17);" role="button" aria-pressed="true">Cancel</a> 
                            </div>
                        </div>
                         
                    </form>
        </div>
     </div>

{% endblock content %}

{% block script %}

    function validate(val) {
    v1 = document.getElementById("fname");
    v2 = document.getElementById("lname");
    v3 = document.getElementById("email");
    v4 = document.getElementById("mob");
    v5 = document.getElementById("gen");
    v6 = document.getElementById("ser");
    v7 = document.getElementById("ans");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;
    flag7 = true;

    if(val>=1 || val==0) {
    if(v1.value == "") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }

    if(val>=2 || val==0) {
    if(v2.value == "") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }
    if(val>=3 || val==0) {
    if(v3.value == "") {
    v3.style.borderColor = "red";
    flag3 = false;
    }
    else {
    v3.style.borderColor = "green";
    flag3 = true;
    }
    }
    if(val>=4 || val==0) {
    if(v4.value == "") {
    v4.style.borderColor = "red";
    flag4 = false;
    }
    else {
    v4.style.borderColor = "green";
    flag4 = true;
    }
    }
    if(val>=5 || val==0) {
    if(v5.value == "") {
    v5.style.borderColor = "red";
    flag5 = false;
    }
    else {
    v5.style.borderColor = "green";
    flag5 = true;
    }
    }
    if(val>=6 || val==0) {
    if(v6.value == "") {
    v6.style.borderColor = "red";
    flag6 = false;
    }
    else {
    v6.style.borderColor = "green";
    flag6 = true;
    }
    }
    if(val>=7 || val==0) {
    if(v7.value == "") {
    v7.style.borderColor = "red";
    flag7 = false;
    }
    else {
    v7.style.borderColor = "green";
    flag7 = true;
    }
    }

    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6 && flag7;

    return flag;
    }
{% endblock script %}
