{% extends 'base.html' %}
{% load static %}

{% block style %}

  .card-team {
    width: 250px;
    height: 350px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 25px;
    border: 5px solid lightcoral;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(248, 237, 235);
    position: inherit;
    text-align: center;
  }

  .card-team-img {
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(148, 210, 189);
    border-radius: 50%
  }

  .card-services {
    height: 310px;
    border: 3px solid lightcoral;
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    position: inherit;
  }

  .card-services-img {
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(148, 210, 189);
    border-radius: 15px
  }

{% endblock style %}
{% block cta %}
<div class="container hero">
  <div class="row">
      <div class="col-10 col-lg-5 col-xl-6">
          <h1 style="color: black;"><br>Mental health is important in our UPV community.</h1>
          <p style="color: black;">With our knowledge, we lend you a helping hand.</p>
              <a href="{% url 'appointment' %}" type="button" class="btn btn-primary btn-lg action-button" style="color: black;">Book an appointment</a> &#9;
              <a href="{% url 'login' %}" type="button" class="btn btn-primary btn-lg action-button" style="color: black;">Log In/Sign Up</a>
      </div>

  </div>
</div>
</div>


{% endblock cta %}

{% block content %}
<section style="margin-block:50px;" id="team">
    <div class="text-center py-5 mb-4" style="background-color: rgb(148, 210, 189);">
        <div class="container" style="background-color: rgb(148, 210, 189);">
            <h1 class="fw-light text-white">UPV-GCS Team</h1>
            <p class="intro">Get to know your designated guidance counselors and how they might lend you a hand.
            </p>
        </div>
    </div>

    <div class="container">

      <!-- Team item -->
      <div class="row">
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <h5 class="member_name">Ms. Juvy T. Janeo, RGC</h5>
          <span class="small text-uppercase text-muted text-center">CM, Senior High (UPHSI)</span>
        </div>
      <!-- Team item -->
        <div class="card-team">
          <img class="card-team-img center" src="{% static '/img/teaMember.png' %}" alt="">
          <h5 class="member_name">Ms. Teresa S. Hortillo, RGC</h5>
          <span class="small text-uppercase text-muted text-center">CFOS, CAS: AppMath, Chem, Stat, & Lit</span>
        </div>

        <!-- Team item -->
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <h5 class="member_name">Ms. Annie A. Manzano, RGC</h5>
          <span class="small text-uppercase text-muted text-center">SoTech, CAS: Econ, PolSci, Hist, & ComDev</span>
        </div>

        <!-- Team item -->
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <h5 class="member_name">Ms. Paula Khyrss Ushiyama, RGC</h5>
          <span class="small text-uppercase text-muted text-center">Junior High (UPHSI), CAS: PH, ComSci, CMS, Psych, & Socio</span>
        </div>
        
        <p style="margin-left: auto; margin-right: auto;"><a href="{% url 'team' %}" type="button" class="btn btn-primary btn-lg action-button" style="color: black;">See more >></a></p>
      </div>
    </div>
</section><!-- End -->



<section id="services" style="margin-block:50px;">
  <div class="text-center py-5 mb-4" style="background-color: rgb(148, 210, 189);">
      <div class="container" style="background-color: rgb(148, 210, 189);">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview">We provide counseling, psychological testing, career guidance, graduate placement and follow up, human development services, and peer facilitating program to the UPV Community.</p>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <!-- Service 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card-services">
          <img src="{% static '/img/counseling.jpg' %}" class="card-services-img" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Counseling</h5>
          </div>
        </div>
      </div>
      <!-- Service 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card-services">
          <img src="{% static '/img/pt.jpg' %}" class="card-services-img" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Psychological Testing</h5>
          </div>
        </div>
      </div>
      <!-- Service 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card-services">
          <img src="{% static '/img/cds.jpg' %}" class="card-services-img" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Career Guidance, Graduate Placement and Follow-up</h5>
          </div>
        </div>
      </div>
      <!-- Service 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card-services">
          <img src="{% static '/img/hdaggp.jpg' %}" class="card-services-img" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Human Development Services</h5>
          </div>
        </div>
      </div>
      <!-- Service 5 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card-services">
          <img src="{% static '/img/hdaggp.jpg' %}" class="card-services-img" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Peer Facilitating Program</h5>
          </div>
        </div>
      </div>
      
      <p style="margin: auto;"><a href="{% url 'services' %}" type="button" class="btn btn-primary btn-lg action-button" style="color: black;">Click to Show Info >></a></p>
    </div>
    <!-- /.row -->
  
  </div>
</section>

<section class="text-center container" style="margin-block:200px;" id="reviews">
    <h2>News and Announcement Posts</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">		
            <div class="carousel-item active">
                <div class="img-box"><img src="{% static '/img/ctAnnounce.png' %}" alt=""></div>
                <p class="testimonial">Resource speakers and graduating students are invited to attend Career Talk 2022.</p>
                <p class="overview">Organized by OSA</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static '/img/patient2.jpg' %}" alt=""></div>
                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum idac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                <p class="overview">Antonio Moreno</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static '/img/patient3.jpg' %}" alt=""></div>
                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit.</p>
                <p class="overview">Paula Wilson</p>
                
            </div>		
        </div>

    </div>

</section>


<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
            
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored" style="color: rgb(148, 210, 189)"></i>
              <h4>Our Location</h4>
  
              <address>
              University of the Philippines Visayas<br>
              Miagao, Iloilo, Philippines<br>
            </address>
            </div>
          </div><!-- end col -->

            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x" style="color: rgb(148, 210, 189)"></i>
              <h4>Get In Touch</h4>
              <title="Phone">Phone: (123) 456-7890<br>
              Email: <a href="mailto:osa@upv.edu.ph" class="text-muted">osa@upv.edu.ph</a><br>
              Email: <a href="mailto:gss.upvisayas@up.edu.ph" class="text-muted">gss.upvisayas@up.edu.ph</a>
            </div>
          </div><!-- end col -->
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6382.151930234295!2d122.22867604042796!3d10.642020498195327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33ae5b8761c629f5%3A0x8b0a8c7844cc30cd!2sUniversity%20of%20the%20Philippines%20Visayas!5e1!3m2!1sen!2sph!4v1647539538445!5m2!1sen!2sph" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
              <!-- <iframe src="https://www.google.com/maps/place/University+of+the+Philippines+Visayas/@10.6420205,122.228676,16.92z/data=!4m5!3m4!1s0x33ae5b8761c629f5:0x8b0a8c7844cc30cd!8m2!3d10.64204!4d122.230829" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe> -->
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}
