{% extends 'base.html' %}
{% block style %}

   .card {
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .green-text {
        color: rgb(10, 147, 150)
    }

    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400
    }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

    .btn-block:hover {
        color: #fff !important
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

{% endblock style %}

{% block content %}

    {% if messages %}
    <div class="card notification-card notification-invitation">
        <div class="card-body">
        {% for message in messages %}
                <div class="card-title">{{message}} </div>
            {% endfor %}
        </div>
      </div>

    {% endif %}

    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8 col-9 text-center">
                <h2>
                    Login to your iSay account
                </h2>
                <p class="green-text">Use the following form to login to iSay.</p>
                <div class="card" style = "width: 25rem;">
                    
                    <form class="form-card" method="POST" action= "{% url 'login' %}">
                    {% csrf_token %}   

                      <div class="form-group col-auto"> 
                        <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> 
                        <input type="text" id="email" name="email" placeholder="juandelacruz@up.edu.ph" onblur="validate(1)"> 
                      </div>
                      <div class="form-group col-auto"> 
                        <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> 
                        <input type="text" id="password" name="password" placeholder="Password" onblur="validate(2)"> 
                      </div>
                      <div class="row justify-content-center">
                        <div><a href="{% url 'home' %}" class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
                        <a href="{% url 'home' %}" class="btn btn-primary active" role="button" aria-pressed="true">Cancel Login</a></div>
                      </div>
                      <div class="row justify-content-center">
                        <div><a href="{% url 'login' %}" class="btn active green-text" role="button" aria-pressed="true">Forgot Password?</a></div>
                      </div>
                    </form>
                </div>
                <div class="row justify-content-center mx-auto">
                    <p>Don't have an account yet?&nbsp;<a href="{% url 'signup' %}" class="btn btn-primary active" role="button" aria-pressed="true">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}

    function validate(val) {
    v1 = document.getElementById("email");
    v2 = document.getElementById("password");

    flag1 = true;
    flag2 = true;

    if(val>=1 || val==0) {
    if(v1.value == "") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }

    if(val>=2 || val==0) {
    if(v2.value == "") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }

    flag = flag1 && flag2;

    return flag;
    }
{% endblock script %}