{% extends 'base.html' %}

{% block style %}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  15%;
    border-radius:50%
  }

{% endblock style %}

{% block content %}

  <div class="container px-1 py-5 mx-auto">
    
    <div class="row d-flex justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8 col-9 text-center">
        <h2>
          Hello, {{user.username}}!<br><br>
        </h2>
      </div>
    </div>

    <div class="card">
      <img class="" src="{{ user.profile.avatar.url }}" style="cursor: pointer;">
      <h4 style="margin-left: auto; margin-right: auto;">{{user.username}}</h4>
      <h6 style="margin-left: auto; margin-right: auto;">{{user.first_name}} {{user.last_name}}</h6>
      <h6 style="margin-left: auto; margin-right: auto;">{{user.email}}</h6>

      <h5 style="margin-left: auto; margin-right: auto;"><br><br>What do you wanna do?<br><br></h5>
      
      {% if request.user.is_staff %}
      <a href="{% url 'appointment' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Book an appointment</a><br>
      <a href="{% url 'manage' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Manage Appointments</a><br>
      <a href="{% url 'team' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Message a student</a><br>
      {% elif user.is_authenticated %}
      <a href="{% url 'appointment' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Book an appointment</a><br>
      <a href="{% url 'team' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Message a counselor</a><br>
      {% endif %}
      
      <a href="{% url 'modify_profile' %}" type="button" class="btn btn-info btn-lg action-button" style="color: black; margin-right: auto; margin-left: auto; background-color: rgb(148, 210, 189)">Modify Profile Info</a><br>
  </div>
</div>
{% endblock content %}