{% extends 'base.html' %}
{% block style %}

.card {
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.green-text {
    color: rgb(10, 147, 150)
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

{% endblock style %}

{% block content %}
<div class="container px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8 col-9 text-center">
            <h2>
                Create your iSay account
            </h2>
            <h3 class="green-text">But first, help us know you better.</h3>
            <div class="card">

                <form class="form-card" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}  

                    <h5>May I know your full name?</h5>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">First Name<span class="text-danger"> *</span></label> 
                                {{ form.first_name }}
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> 
                                {{ form.last_name }}
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Username<span class="text-danger"> *</span></label> 
                                {{ form.username }} 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> 
                                {{ form.email }} 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> 
                                {{ form.password1 }}
                                {{ form.errors.password }} 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Confirm Password<span class="text-danger"> *</span></label> 
                                {{ form.password2 }} 
                            </div>

                        </div>

                        <div class="row justify-content-center">
                            <div>
                                <button type="submit" class="btn active" style="color: whitesmoke; background-color: rgb(117, 16, 17);">Sign in</button>
                                <a href="{% url 'home' %}" class="btn active" role="button" aria-pressed="true" style="color: whitesmoke; background-color: rgb(117, 16, 17);">Cancel Sign In</a></div>
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center mx-auto">
                        <p>Already have an account yet?&nbsp;<a href="{% url 'login' %}" class="btn active" role="button" aria-pressed="true" style="color: whitesmoke; background-color: rgb(117, 16, 17);">Login</a></p>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}

        {% block script %}

        function validate(val) {
            v1 = document.getElementById("lname");
            v2 = document.getElementById("fname");
            v3 = document.getElementById("mname");
            v4 = document.getElementById("email");
            v5 = document.getElementById("password");
            v6 = document.getElementById("conpassword");

            flag1 = true;
            flag2 = true;
            flag3 = true;
            flag4 = true;
            flag5 = true;
            flag6 = true;

            if(val>=1 || val==0) {
                if(v1.value == "") {
                    v1.style.borderColor = "red";
                    flag1 = false;
                }
                else {
                    v1.style.borderColor = "green";
                    flag1 = true;
                }
            }

            if(val>=2 || val==0) {
                if(v2.value == "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                }
                else {
                    v2.style.borderColor = "green";
                    flag2 = true;
                }
            }

            if(val>=3 || val==0) {
                if(v3.value == "") {
                    v3.style.borderColor = "red";
                    flag3 = false;
                }
                else {
                    v3.style.borderColor = "green";
                    flag3 = true;
                }
            }

            if(val>=4 || val==0) {
                if(v4.value == "") {
                    v4.style.borderColor = "red";
                    flag4 = false;
                }
                else {
                    v4.style.borderColor = "green";
                    flag4 = true;
                }
            }

            if(val>=5 || val==0) {
                if(v5.value == "") {
                    v5.style.borderColor = "red";
                    flag5 = false;
                }
                else {
                    v5.style.borderColor = "green";
                    flag5 = true;
                }
            }

            if(val>=6 || val==0) {
                if(v6.value == "") {
                    v6.style.borderColor = "red";
                    flag6 = false;
                }
                else {
                    v6.style.borderColor = "green";
                    flag6 = true;
                }
            }

            flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;

            return flag;
        }
        {% endblock script %}