{% extends 'base.html' %}
{% block style %}

  .card-margin {
      margin-bottom: 1.875rem;
  }

  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #ffffff;
      background-clip: border-box;
      border: 1px solid rgb(117, 16, 17);
      border-radius: 8px;
      width: 29cm;
  }

  .card .card-header.no-border {
      border: 0;
  }
  .card .card-header {
      background: none;
      padding: 0 0.9375rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      min-height: 50px;
  }
  .card-header:first-child {
      border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
  }

  .widget-49 .widget-49-title-wrapper {
    display: flex;
    align-items: center;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 97, 0);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
    color: white;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfd;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
    color: #dde1e9;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
    color: #dde1e9;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8faf8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
    color: #17d1bd;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
    color: #17d1bd;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ebf7ff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
    color: #36afff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
    color: #36afff;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: floralwhite;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
    color: #FFC868;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
    color: #FFC868;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #feeeef;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
    color: #F95062;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
    color: #F95062;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fefeff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
    color: #f7f9fa;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
    color: #f7f9fa;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ebedee;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
    color: #394856;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
    color: #394856;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0fafb;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
    color: #68CBD7;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
    color: #68CBD7;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
    color: #3c4142;
    font-size: 14px;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
    color: #474747;
    font-size: 13px;
  }

  .widget-49 .widget-49-meeting-points {
    font-weight: 400;
    font-size: 13px;
    margin-top: .5rem;
  }

  .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
    display: list-item;
    color: #727686;
  }

  .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
    margin-left: .5rem;
  }

  .widget-49 .widget-49-meeting-action {
    text-align: right;
  }

  .widget-49 .widget-49-meeting-action a {
    text-transform: uppercase;
  }

  .wrapper {
      display: flex;
      justify-content: center;
      align-items: center
  }

  .page-link {
      position: relative;
      display: block;
      color: #D85600 !important;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #D85600 !important
  }

  .page-link:hover {
      z-index: 2;
      color: #fff !important;
      background-color: #D85600;
      border-color: #024dbc
  }

  .page-link:focus {
      z-index: 3;
      outline: 0;
      box-shadow: none
  }
{% endblock style %}
{% block content %}

    <div class="text-center mb-4" style="background-color: rgb(117, 16, 17);">
        <div class="container text-white" style="background-color: rgb(117, 16, 17);">
        <h2>
            SUMMARY REPORT
        </h2><br><br>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h4 class="card-title">Accepted Appointments (General): </h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">{{accepted_count}}</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title"><b>Gender:</b> </span>
                                    <span class="widget-49-meeting-time">Male = {{male_count}}</span>
                                    <span class="widget-49-meeting-time">Female = {{female_count}}</span>
                                    <span class="widget-49-pro-title"><b>Services:</b></span>
                                    <span class="widget-49-meeting-time">Counseling = {{counsel_count}}</span>
                                    <span class="widget-49-meeting-time">Psychological Testing = {{psy_count}}</span>
                                    <span class="widget-49-meeting-time">Career Guidance, Graduate Placement and Follow-up = {{car_count}}</span>
                                    <span class="widget-49-meeting-time">Human Development Services = {{human_count}}</span>
                                    <span class="widget-49-meeting-time">Peer Facilitating Program = {{peer_count}}</span>
                                    <span class="widget-49-pro-title"><b>College:</b></span>
                                    <span class="widget-49-meeting-time">CAS = {{CAS_count}}</span>
                                    <span class="widget-49-meeting-time">CM = {{CM_count}}</span>
                                    <span class="widget-49-meeting-time">SOTECH = {{SOTECH_count}}</span>
                                    <span class="widget-49-meeting-time">CFOS = {{CFOS_count}}</span>
                                    <span class="widget-49-meeting-time">UPVHS = {{UPVHS_count}}</span>
                                    <span class="widget-49-meeting-time">UPVTC = {{UPVTC_count}}</span>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}