{% extends 'base.html' %}
{% load static %}
{% block style %}

   .card-team {
    width: 950px;
    height: 450px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 25px;
    border: 5px solid rgb(117, 16, 17);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(248, 237, 235);
  }

  .card-team-img {
    display: block;
    position: relative;
    margin: 50px 10px;
    width: 200px;
    height: 300px;
    border: 3px solid rgb(0, 97, 0);
    border-radius: 50%;
  }

  .member_name{
    position: relative;
    margin: -110px 10px;
    left: 230px;
    top: -280px;
  }



{% endblock style %}

{% block content %}

    {% if messages %}
    <div class="card notification-card notification-invitation">
        <div class="card-body">
        {% for message in messages %}
                <div class="card-title">{{message}} </div>
            {% endfor %}
        </div>
      </div>

    {% endif %}

    <div class="text-center py-5 mb-4" style="background-color: rgb(117, 16, 17);">
        <div class="container text-white" style="background-color: rgb(117, 16, 17);">
            <h2>
                UPV-GCS Team
            </h2>
            <p class="overview">The UP Visayas community takes mental health awareness seriously. That is why the Office of the Student Affairs (OSA) has organized the Guidance and Counseling Services Unit - to make sure that no one is left behind in dealing with the aftereffects of the real world's and academe's stress. Take a look at the designated guidance counselors whom you can reach out for help.</p>
        </div>
    </div>

    <div class="container">

      <!-- Team item -->
      <div class="row">
        <div class="column mx-auto">
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <div class="member_name"><h5>Ms. Juvy T. Janeo, RGC</h5>
          <span>Designation: Guidance Counselor, College of Management, Senior High (UPHSI)<br>Email Address: jtjnaeo@up.edu.ph<br>Contact Number: 0912356789<br>Educational Background:<br><br><br><br><br>Seminars And Experiences:<br><br><br><br><br></span>
          {% if user.is_authenticated %}
          <a href="{% url 'appointment' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -300px; color: whitesmoke; background-color: rgb(117, 16, 17);">Book an appointment</a> &#9;
          <a href="{% url 'inbox' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -310px; color: whitesmoke; background-color: rgb(117, 16, 17);">Message</a>
          {% else %}
          <a href="{% url 'login' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -470px; color: whitesmoke; background-color: rgb(117, 16, 17);">Login/Signup</a>
          {% endif %}
          </div>
        </div>
        </div>
        <div class="column mx-auto">
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <div class="member_name"><h5>Ms. Teresa S. Hortillo, RGC</h5>
          <span>Designation: Guidance Counselor, College of Management, Senior High (UPHSI)<br>Email Address: tshortillo@up.edu.ph<br>Contact Number: 0912356789<br>Educational Background:<br><br><br><br><br>Seminars And Experiences:<br><br><br><br><br></span>
          {% if user.is_authenticated %}
          <a href="{% url 'appointment' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -300px; color: whitesmoke; background-color: rgb(117, 16, 17);">Book an appointment</a> &#9;
          <a href="{% url 'inbox' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -310px; color: whitesmoke; background-color: rgb(117, 16, 17);">Message</a>
          {% else %}
          <a href="{% url 'login' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -470px; color: whitesmoke; background-color: rgb(117, 16, 17);">Login/Signup</a>
          {% endif %}
          </div>
        </div>
        </div>
        <div class="column mx-auto">
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <div class="member_name"><h5>Ms. Annie A. Manzano, RGC</h5>
          <span>Designation: Guidance Counselor, College of Management, Senior High (UPHSI)<br>Email Address: aamanzano@up.edu.ph<br>Contact Number: 0912356789<br>Educational Background:<br><br><br><br><br>Seminars And Experiences:<br><br><br><br><br></span>
          {% if user.is_authenticated %}
          <a href="{% url 'appointment' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -300px; color: whitesmoke; background-color: rgb(117, 16, 17);">Book an appointment</a> &#9;
          <a href="{% url 'inbox' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -310px; color: whitesmoke; background-color: rgb(117, 16, 17);">Message</a>
          {% else %}
          <a href="{% url 'login' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -470px; color: whitesmoke; background-color: rgb(117, 16, 17);">Login/Signup</a>
          {% endif %}
          </div>
        </div>
        </div>
        <div class="column mx-auto">
        <div class="card-team">
          <img class="card-team-img" src="{% static '/img/teaMember.png' %}" alt="">
          <div class="member_name"><h5>Ms. Paula Khryss Ushiyama, RGC</h5>
          <span>Designation: Guidance Counselor, College of Management, Senior High (UPHSI)<br>Email Address: ppushiyama@up.edu.ph<br>Contact Number: 0912356789<br>Educational Background:<br><br><br><br><br>Seminars And Experiences:<br><br><br><br><br></span>
          {% if user.is_authenticated %}
          <a href="{% url 'appointment' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -300px; color: whitesmoke; background-color: rgb(117, 16, 17);">Book an appointment</a> &#9;
          <a href="{% url 'inbox' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -310px; color: whitesmoke; background-color: rgb(117, 16, 17);">Message</a>
          {% else %}
          <a href="{% url 'login' %}" type="button" class="btn btn-lg action-button" style="position: relative; right:  -470px; color: whitesmoke; background-color: rgb(117, 16, 17);">Login/Signup</a>
          {% endif %}
          </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}